@import '../../common/common';
div#container {
    display: table;
    width: 25rem;
    margin: 0 auto 0;
    padding-top:2rem;
    div.cell {
        display: table-cell;
        &:last-child {
            width: 0.0625rem;
        }
    }
}

div#container div.cell input[type=search],
div.button {
    width: 100%;
    height: 2.18rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

input[type=search] {
    margin: 0;
    padding: 0 0.625rem;
    background-color: $bgColor;
    border: 0;
    border-top-left-radius: 0.312rem;
    border-bottom-left-radius: 0.312rem;
}

div.button {
    line-height: 2.18rem;
    cursor: pointer;
    margin: 0;
    padding: 0 1.25rem;
    color: $lightTextColor;
    background-color: $primaryColor;
    font-weight: bold;
    border-top-right-radius: 0.312rem;
    border-bottom-right-radius: 0.312rem;
    white-space: nowrap;
}

.alert {
    width: 23.12rem;
    margin: 3.12rem auto 0;
    padding: 0.5rem;
    margin-bottom: 1.25rem;
    border: 0.0625rem solid transparent;
    border-radius: 0.25rem;
}

.alert-warning {
    color: $warningColor;
    background-color: $bgColor;
    border-color: $bgColor;
}
.error{
    color:$errorColor;
}

#tabular {
    margin: 3.125rem auto 6.25rem;
    font-size: 0.75rem;
    width: 30rem;
    text-align: left;
    border-collapse: collapse;
    th {
        font-size: 0.875rem;
        font-weight: normal;
        padding: 0.75rem 0.93rem;
        border-right: 0.0625rem solid $lightTextColor;
        border-left: 0.0625rem solid $lightTextColor;
        color: $darkTextColor;
    }
    td {
        padding: 0.5rem 0.93rem;
        border-right: 0.0625rem solid $lightTextColor;
        border-left: 0.0625rem solid $lightTextColor;
        color: $darkTextColor;
    }
}

.tab-odd {
    background: $bgColor;
}

.tab-even {
    background: $bgColor;
}

#tabular #tab-adventure,
#tabular #tab-children {
    background: $primaryColor;
    border: 0.0625rem solid $bgColor;
}

#tabular #tab-comedy,
#tabular #tab-action {
    background: $primaryColor;
    border: 0.0625rem solid $bgColor;
}